html, 
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 15%, rgba(0,212,255,1) 100%);
}

#root {
    padding: 7vh 15vw;
}